importFrom(stats, model.matrix, model.response, aggregate, effects)
import(nlme)
import(spdep)
import(Matrix)
importFrom(kinship,bdsmatrix)
importFrom(MASS,ginv)

export(bsjktest, bsktest, effects.splm, print.effects.splm, write.effects.splm, print.splm,spfeml,spregm,spreml,spsegm,summary.splm)



S3method(print,splm)
S3method(print,summary.splm)
S3method(bsjktest,formula)
S3method(effects,splm)
S3method(print,effects.splm)
S3method(bsktest,formula)
S3method(bsktest,lm)
S3method(bsktest, splm)
